body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: clamp(14px, 2vw + 12px, 18px);
}

.header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    transition: padding 0.3s ease, background-color 0.3s ease;
}

.header.scrolled {
    padding: 10px 0;
    background-color: #222;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

main {
    margin-top: 100px;
    padding: 20px;
}

h1 {
    text-align: center;
}

.button-container { 
    width: 100%; 
    min-width:400px; 
    margin: 20px auto; 
    position: relative;
    display: block;
    justify-content: center;
}

button { 
    padding: 10px 15px; 
    background: #007BFF; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

.results-container {
    margin: 20px;
    display: flex;
    flex-direction: column; /* Stack vertically */
    gap: 5px; /* Reduce gap for compactness */
    width: fit-content; /* Fit content width */
  }
  .result-box {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    width: fit-content; /* Fit content width */
    white-space: nowrap; /* Prevent line breaks */
  }
  .regenerative {
    color: green;
  }
  .co2 {
    color: black;
  }
  .co2-logo {
    font-weight: bold;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .piechart-container {
    height: 40vh;
  }
  .graphchart-container {
    min-height: 40vh;
  }
  .chart-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    justify-content: center;
  }